.app {
  height: 100%;
}
header {
height: 10%;
}
.title {
  font-family: 'Modak', cursive;
  font-size: 400%;
  text-align: center;
  height: 5%;
  margin-top: 0;
}

footer {
  margin-top: 0;
height: 1%;
}

