.account {
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.account h1 {
    height: 10%;
    
}

.popconfirm {
    border: none;
    background-color: white;
    height: 8%;
    width: 10%;
    font-family: 'Roboto Mono', monospace;
    text-align: center;
    color: #db9d01;
    cursor: pointer;
    
}
.account img {
    
    height: 90px;
    
}
.account p {
    margin-top: 12%;
    height: 10%;
    
}
.info {
    display: flex;
    justify-content: center;
}