.home {
  height: 80%;
  color: #db9d01;
}
.nowmovies {
  display: flex;
  height: 70%;
  font-family: 'Roboto Mono', monospace;
  margin-top: 5%;
  overflow-y: hidden;
  overflow-x: thin;
  max-width: 100%;
}

.nowmovies {
  margin: 1%;
}

.now {
margin: 1%;
white-space: nowrap;
}

.now h4{
height: 4%;
color: #d6b519;
}
.now img{
height: 280px;
}
