
.media {
    height:100%;
    text-align: center;
}

.media p {
    height:7%;
     margin-left: -90%;

}

.media h1 {
    height:7%;
   
}
.media img {
    height:100%;
    width: 100%;

}

.m {
    height:60%;
    width: 35%;

}
