
.login {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
    width: 100%;
  }


.inputLogin {
    height:8%;
    font-family: 'Roboto Mono', monospace;
    font-size: 100%;
    
  }

.buttonLogin {
    height: 10%;
    width: 50%;
    border-radius: 10%;
    background-color: #d5b519;
    color: white;
    font-size: 115%;
    margin-left: 30%;
  
  }

  .login p {
    height: 5%;
    color: #d5b519;
  }
