 * {
   /*width: 100%;*/
   height:100%;
}
body {
  margin: 0;
  font-family: 'Roboto Mono', monospace; 
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

a:link {
  text-decoration:none;
  color: #d6b519;
}

a:visited {
  text-decoration:none;
  color: #db9d01;
}

