.nav {
    display: flex;
    justify-content: space-around;
    height:10%;
    font-family: 'Roboto Mono', monospace;
    font-size: 100%;
}

.genres {
    max-height: 50px;
    max-width: 150px;
    background-color: white;
    overflow-y: auto;
}



.search-container {
  
  display: flex;
  flex-direction: column;
}

.searchplace {
  margin: auto;
  position: relative;
  width: 100%;
  height: 100%;
  /*border: 2px solid rgb(15, 15, 15);*/
  display: flex;
  display:block;
  flex-direction: column;
}

.searchplace input {
  height:30%;
}
.selectoption {
  position: absolute;
  display: flex;
  width: 100%;
  height: 4%;
  background-color: white;
  justify-content: space-around;
}

.selected  {
  height: 100%;
  width: 50%;
  
  /*border: 1px solid black;*/
}

.result {
  position: relative;
  top:5%;
  width: 10%;
  max-height: 0;
  display: none;
}

.result:target {
  position: relative;
  width: 100%;
  max-height: 100px;
  max-width: 150px;
  background-color: white;
  overflow-y: auto;
  display: block;
}

.user {
    font-family: 'Modak', cursive;
    font-size: 130%;
}