.nav {
    display: flex;
    justify-content: space-around;
    font-family: 'Roboto Mono', monospace;
    font-size: 100%;
    margin-top: -3%;
}


.nav :hover:nth-child(n) {/*(n)cible tous les fils*/
color: rgba(255, 255, 0, 0.877);
}

.oscar {
  margin-left: -8%;
  }

.oscar img{
  height: 45px;
  }

.genres {
    height: 10%;
    width: 14%;
   
   
}
.genre {
  max-height: 100px;
  max-width: 200px;
  overflow: auto;
}


.search-container {
  display: flex;
  flex-direction: column;
 
}

.searchplace {

  position: relative;
  height: 10%;
  display: flex;
  display:block;
  flex-direction: column;
}


.searchplace input {
  
    width: 45%;
    font-family: 'Roboto Mono', monospace;
    
  }
  .searchplace input:focus{
    width: 65%;
  }
.searchplace img {
    width: 17%;
    height: 38%;
    margin-left: 8%;
    margin-right: 4%;
    
  }
.searchplace input:hover {
    border: 1px solid #db9d01;
  }

.searchplace input:focus {
    border: 1px solid #d6b519;
    box-shadow: yellow;
  }

.selectoption {
  left: 15%;
  bottom: -90%;
  position: absolute;
  display: flex;
  align-items:center;
  width: 80%;
  height: 100%;
  /*background-color: yellow;*/
  justify-content: space-around;
  
}

.selected  {
width: 100%;
height: 100%;
padding-top: 10%;
  display:none;
  /*background-color:black;*/
  /*border: 1px solid black;*/
}

.result {
  margin-top: 10%;
  left: 14%;
  position: absolute;
  width: 100%;
  max-height: 0;
  display: none;
}

.result:target {
  
  max-height: 200%;
  max-width: 80%;
  background-color: white;
  overflow: auto;
  white-space: nowrap;
  display: block;
}



.user {
  margin-top: -3%;
    font-family: 'Modak', cursive;
    text-align: center;
    /*font-size: 100%;*/
    
}
.t{
  
  padding: 0;
  
 
}
.user img {
    height:40%;
    width: 17%;
}


