.nav {
    display: flex;
    justify-content: space-around;
    height: 20%;
    font-family: 'Roboto Mono', monospace;
    font-size: 100%;
}


.nav :hover:nth-child(n) {/*(n)cible tous les fils*/
color: yellow;
}

.oscar {
  margin-left: -10%;
  margin-right: -5%;
  }


.genres {
    max-height: 45%;
    max-width: 13%;
    overflow-y: auto;
    height: 50%;
    margin-right: -2%;
    margin-top: 1%;
    white-space: nowrap;
}
.genre {
  padding-top: 4%;

}

.search-container {
  display: flex;
  flex-direction: column;
}

.searchplace {
  
  position: relative;
  height: 100%;
  /*border: 2px solid rgb(15, 15, 15);*/
  display: flex;
  display:block;
  flex-direction: column;
}


.searchplace input {
  
    width: 85%;
    font-family: 'Roboto Mono', monospace;
    top: 7%;
    
  }
.searchplace img {
    width: 17%;
    height: 38%;
    margin-left: -13%;
    margin-right: 6%;
    
  }
.searchplace input:hover {
    border: 1px solid #db9d01;
  }

.searchplace input:focus {
    border: 1px solid #d6b519;
    box-shadow: yellow;
  }

.selectoption {
  left: 14%;
  bottom: 44%;
  position: absolute;
  display: flex;
  width: 80%;
  height: 5%;
  background-color: white;
  justify-content: space-around;
}

.selected  {
width: 100%;
  
  /*border: 1px solid black;*/
}

.result {
  left: 14%;
  position: relative;
  width: 100%;
  max-height: 0;
  display: none;
}

.result:target {
  top: 30%;
  max-height: 100px;
  max-width:210px;
  background-color: white;
  overflow-y: auto;
  white-space: nowrap;
  display: block;
}

.li{
  height:50%;
  padding: auto;
}

.user {
    font-family: 'Modak', cursive;
    top: -30%;
    height:40%;
    width: 17%;
    text-align: center;
    font-size: 120%;
    margin-left: -5%;
    margin-right: -7%;
    
}


    


